@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('./font/Freesentation-7Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('./font/Freesentation-6SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('./font/Freesentation-4Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('./font/Freesentation-1Thin.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
}


header{
  font-family: 'Freesentation-9Black';
  font-weight: 100;
}

body{
  font-family: 'Freesentation-9Black';
  font-weight: 400;
  background-color: rgb(241, 245, 248);
}

code {
  font-family: 'Freesentation-9Black';
}
